
/* NOTES =================================================================

Website theme color: #34527d
Website theme alt color: #44628d
Light gray web page font color: #717171
*/

.timerbtn {
    border-radius: 5px;
    color: white;

    background-color: #34527d;

}